* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(46deg, #32160f 0%, #512c25 51.04%, #000 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
}
