* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(46deg, #32160F 0%, #512C25 51.04%, #000 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
  border-bottom: 1px solid #8C6553;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
  height: 30px;
}

header ul li {
  color: #fff;
  font: 15px normal 700;
  line-height: normal;
}

header ul li:hover {
  border-bottom: 1px solid #8c6553;
}

h2 {
  text-transform: uppercase;
}
